body{
    background-color: $board;
    
}


.title{
    z-index: 1;
    position: absolute;
}



.main_container{
    margin:1%;
    color: #d5d5d5;
    border-radius: 1rem;
    
    background: radial-gradient(ellipse at center, #da4e53 0%,#801a2f 82%,#6e0616 93%);
    border:solid 2px white;
    box-shadow: $soft_pink 10px 0 20px;
    h2{
        color: white;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        
        &:hover{
           text-decoration: underline;
        }
    }
}
.main_container_p{
@extend .main_container;
    a{
        margin-bottom: 1rem;
        display: block;
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition-duration: 1s;
        &:hover{
            transform: scale(1.1);
            text-decoration:underline;
        }
    }
}
.contactanos{
 background-color:$deep_pink;
  color:white;
  h2{
    background-color: #801a2f;
  }
}

.carousel_about{
    height: 50%;
}
